@media (max-width: 1310px) { 
  .category {
    max-width: 1008px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .contenedor{
    padding-left: 28px;
    padding-right: 28px;
    
  }
}
  