@defer (when showData()) {
<div class="contenedorCategory">
  <div class="contenedor">
    <div class="font-semibold text-gray-500">
      <label class="flex flex-wrap items-center md:flex lg:flex" for="">
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" >
          <path d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z" />
          <path d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z" />
        </svg>
        <a [routerLink]="['/']">{{ "inicio" | titlecase }}</a>
        &nbsp;|&nbsp;
        <a class="cursor-pointer" (click)="volverCat(opc)">
          {{ getNombreCategoria(opc) | titlecase }}
        </a>
        &nbsp;|&nbsp;
        <a class="cursor-pointer" (click)="volverSubCat(opc)"> {{ getSubCategoriaOrSeries(opc) | titlecase}} </a>
        &nbsp;|&nbsp;
        <a class="">{{ opc?.referencia | titlecase | uppercase }}
        </a>
        &nbsp;|&nbsp;
        <a>{{ getNombreCatalogo(opc) | titlecase}}</a>
      </label>
    </div>
  </div>
  <div class="container2">
    <div class="grid grid-cols-12 gap-5">
      <div class="lg:col-span-7 md:col-span-7 col-span-12">
        <div class="hidden lg:block md:block mb-2">
          <strong>
            <a style="width: 200px" class="carrito flex text-white items-center bg-primary cursor-pointer"
              (click)="addShopping()">
              <svg style="color: white; margin-right: 5px" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
              </svg>

              {{ "anadir" }}
            </a>
          </strong>
        </div>
        <h1 class="text-center font-semibold text-2xl block md:hidden lg:hidden">
          {{ getNombreCatalogo(articulo()) | uppercase }}
        </h1>
        <manu-carrusel [images]="images"></manu-carrusel>
      </div>
      <div class="lg:col-span-5 md:col-span-5 col-span-12 flex flex-col pt-2">
        <p class="text-gray-400 font-semibold m-0" style="font-size: 18px">
          {{ articulo()?.referencia }}
        </p>
        <div class="block md:hidden mb-2">
          <strong>
            <a style="width: 200px" class="carrito flex text-white items-center bg-primary cursor-pointer"
              (click)="addShopping()">
              <svg style="color: white; margin-right: 5px" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
              </svg>
              {{ "anadir" }}
            </a>
          </strong>
        </div>
        <label for="" class="hidden md:block font-bold text-black"
          style="font-size: 20px">{{getNombreCatalogo(articulo())}} </label>
        <mat-accordion [multi]="true" class="block md:hidden lg:hidden mt-4">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 class="card-title text-xl md:text-2xl lg:text-2xl mb-0">
                  {{ "caracteristicas" | uppercase }}
                </h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="mt-2">
              <p class="m-0" [innerHTML]="getDescrCatalogo(articulo())"></p>
              <div class="mt-2">
                <div class="block md:hidden lg:hidden">
                  <label for="" class="fw-bolder me-2">
                    {{ "edades" }}
                  </label>
                  <p class="m-0">{{ getEdades(articulo()) }}</p>
                </div>
                <div class="block md:hidden lg:hidden">
                  <label for="" class="fw-bolder me-2">{{
                    "masa"
                    }}</label>
                  <p class="m-0">
                    {{ articulo()?.masa }}
                  </p>
                </div>
                <div class="block md:hidden lg:hidden">
                  <label for="" class="fw-bolder me-2">{{
                    "dimensiones"
                    }}</label>
                  <p class="m-0">
                    {{
                    articulo()?.dimensiones
                    }}
                  </p>
                </div>
                <div class="block md:hidden lg:hidden">
                  <label for="" class="fw-bolder me-2">{{
                    "espacio"
                    }}</label>
                  <p class="m-0">
                    {{ articulo()?.espacio }}
                  </p>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <!-- TODO:pendiente  -->
        <div class="hidden lg:block md:block mt-4 mb-1">
          <p [innerHTML]="getDescripcion()"></p>
        </div>
        @if(articulo()?.resultColores_productos?.length > 0){
        <div class="mt-2">
          <div class="hidden md:flex mt-3 items-center">
            <label for="" class="font-semibold me-2">
              {{ "colores disponible" }}
            </label>
            @for (item of articulo()?.resultColores_productos; track item) {
            <div class="color-option">
              <div class="color-indicator me-1" [style.background-color]="item.color"></div>
            </div>
            }@empty {
            <div class="text-center py-4 text-2xl font-semibold mt-4">
              <h3>{{ "no articulos" }}</h3>
              <br />
              <h4>{{ "no articulos.txt" }}</h4>
            </div>
            }
          </div>
        </div>
        }
        <div class="mt-2 mb-4">
          @if (articulo()?.edad_es) {
          <div class="hidden md:flex mt-3 items-center">
            <label for="" class="font-semibold me-2">
              <img appImgError matTooltip="{{ 'edades' }}" src="./assets/images/icons/Recurso_6.svg"
                alt="logo" style="width: 25px; height: 25px" />
            </label>
            <p class="m-0">{{ articulo()?.edad_es }}</p>
          </div>
          } @if (articulo()?.altura_caida) {
          <div class="hidden md:flex mt-3 items-center">
            <label for="" class="font-semibold me-2">
              <img appImgError matTooltip="{{ 'altura' }}" src="./assets/images/icons/Recurso_5.svg"
                alt="logo" style="width: 25px; height: 25px" />
            </label>
            <p class="m-0">{{ articulo()?.altura_caida }}m</p>
          </div>
          }
          @if (articulo()?.superficie_impacto) {
          <div class="hidden md:flex mt-3 items-center">
            <label for="" class="font-semibold me-2">
              <img appImgError matTooltip="{{ 'superficie impacto' }}"
                src="assets/images/icons/Recurso_3.svg" alt="logo" style="width: 25px; height: 25px" />
            </label>
            <p class="m-0">{{ articulo()?.superficie_impacto }}m2</p>
          </div>
          }
          @if (articulo()?.masa) {
          <div class="hidden md:flex mt-3 items-center">
            <label for="" class="font-semibold me-2">
              <img appImgError matTooltip="{{ 'masa' }}" src="assets/images/icons/Recurso_4.svg" alt="logo"
                style="width: 25px; height: 25px" />
            </label>
            <p class="m-0">{{ articulo()?.masa }}</p>
          </div>
          }
          @if (articulo()?.dimensiones) {
          <div class="hidden md:flex mt-3 items-center">
            <label for="" class="font-semibold me-2">
              <img appImgError matTooltip="{{ 'dimensiones' }}" src="assets/images/icons/Recurso_1.svg"
                alt="logo" style="width: 25px; height: 25px" />
            </label>
            <p class="m-0">
              {{ articulo()?.dimensiones }} m
            </p>
          </div>
          }
          @if (articulo()?.espacio) {
          <div class="hidden md:flex mt-3 items-center">
            <label for="" class="font-semibold me-2">
              <img appImgError matTooltip="{{ 'espacio' }}" src="assets/images/icons/Recurso_2.svg"
                alt="logo" style="width: 25px; height: 25px" />
            </label>
            <p class="m-0">{{ articulo()?.espacio }}m</p>
          </div>
          }
        </div>

        @if(articulo()?.resultCertificados_productos?.length > 0){
        <div class=" ">
          <hr class="mt-2 mb-4 text-black border-t-black opacity-10" />
          <div class="grid grid-cols-12 mt-1 mb-1">
            @for (item of articulo()?.resultCertificados_productos; track item)
            {
            <div class="col-span-6 mt-2">
              <img appImgError style="width: 70px; height: 70px; object-fit: cover" [src]="url + item.ruta" alt="" />
              <label for="" class="font-semibold ms-2">{{
                item.nombre_certificado
                }}</label>
            </div>
            }@empty {
            <div class="text-center py-4 text-2xl font-semibold mt-4">
              <h3>{{ "no articulos" }}</h3>
              <br />
              <h4>{{ "no articulos.txt" }}</h4>
            </div>
            }
          </div>
          <hr class="mt-4 mb-6" />
        </div>
        } @if(articulo()?.resultDocVarios.length > 0 ||
        articulo()?.resultDocumentosCatalogoLinkByIds.length > 0){
        <div class="containLinks">
          <mat-accordion [multi]="true" class="mt-4">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h3 class="card-title text-xl md:text-2xl lg:text-2xl mb-0">
                    {{ "descargas" | uppercase }}
                  </h3>
                </mat-panel-title>
              </mat-expansion-panel-header>
              @if(articulo()?.resultDocVarios.length > 0){
              <div>
                @for (item of articulo()?.resultDocVarios; track item ) {
                <div class="flex items-center docsItems" (click)="onClick(item)">
                  <a class="flex items-center cursor-pointer underline underline-offset-1 mt-2 ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                    </svg>
                    {{ getText(item) | titlecase }}
                  </a>
                </div>
                }
              </div>
              }
              @if (articulo()?.resultDocumentosCatalogoLinkByIds.length > 0) {
              <div>
                @for (item of articulo()?.resultDocumentosCatalogoLinkByIds; track item) {
                <div class="flex items-center docsItems">
                  <a class="flex items-center cursor-pointer underline underline-offset-1 mt-2"
                    (click)="onClickImage(item)">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                    </svg>
                    {{getNombreDoc(item)}}
                  </a>
                </div>
                }
              </div>
              }
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        }
      </div>
    </div>
  </div>
  <div class="contenedor2">
    <manu-product-relacionado></manu-product-relacionado>
  </div>
</div>
}@placeholder {
<div class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-gray-800 bg-opacity-20 z-50">
  <div class="flex items-center justify-center">
    <div class="relative flex items-center justify-center">
      <div class="w-16 h-16 border-4 border-primary border-dashed rounded-full animate-spin"></div>
      <div class="absolute inset-0 flex items-center justify-center">
        <div class="w-10 h-10 bg-primary rounded-full"></div>
      </div>
    </div>
  </div>
</div>
}