@defer (when showData()) {
  <h1 class="text-center text-3xl">
    {{"productos relacionados" | translate | uppercase}}
  </h1>
  
  <div class="contenedor">
    <owl-carousel-o [options]="customOptions">
      @for (item of data(); track item) {
        <ng-container>
    
          <ng-template let-owlItem carouselSlide [id]="item.id">
            <div
              (mousedown)="onMouseDown()"
              (mouseup)="onMouseUp(item)"
              (mousemove)="onMouseMove()"
              [id]="item.id"
              class="timeline-carousel__item slide cursor-pointer"
              [ngClass]="{ 'center-card': !owlItem.isCentered }"
            >
              <div class="timeline-carousel__image">
       
                <div
                  style="border-radius: 12px; overflow: hidden; position: relative; width: 100%; height: 100%;"
                  class="media-wrapper media-wrapper--overlay"
                >
                  <img
                    appImgError
                    [src]="url + item?.image?.ruta"
                    alt="Imagen"
                    style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;"
                  />
                </div>
              </div>
              <div
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-top: 20px;
                  flex-direction: column;
                "
              >
              <span class="text-center" style="color: black; font-weight: 700; font-size: 1.2rem;">
                {{getNombreCatalogo(item)}}
              </span>
                <span class="text-muted fw-bolder text-center">{{item.referencia}}</span>
              </div>
            </div>
          </ng-template>
        </ng-container>
      }
    </owl-carousel-o>
    
  </div>
}