img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cuadricula {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 40px;
  justify-content: start;
  padding-left: 45px;
  padding-right: 45px;

}

.card {
  height: 250px;
  width: 256px;
  cursor: pointer;
  border-radius: 10px;
  justify-content: center;
  background-color: #dee2e6;
  -webkit-box-shadow: 0 0 10px 0 rgb(183 192 206 / 47%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nameProducto {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 240px; 
}

.title {
  margin-left: 120px;
  margin-bottom: 40px;
}

.card:hover {
  transition: .5s;
  box-shadow: 0 0 10px 0 rgba(77, 77, 79, 0.331)
}

::ng-deep .mat-mdc-tab-labels .mat-mdc-tab{
  padding-left: 5px;
  padding-right: 5px;
}

::ng-deep  .mat-mdc-tab.mdc-tab--active:hover {
  border-color: transparent !important;
}
::ng-deep  .mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: transparent !important;
}

@media screen and (max-width: 1535px) {
  .cuadricula {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 1270px) {
  .cuadricula {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .calidad {
    padding: 10px 20px 20px 20px;
  }
}

@media screen and (max-width: 1304px) {
  .cuadricula {
    max-width: 940px;

  }
  .titleCategoria {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 966px) {
  .cuadricula {
    justify-content: center;
  }
  
  .title {
    margin-left: 0;
  }
}

@media screen and (max-width: 425px) {
  ::ng-deep .mat-mdc-tab-labels{
    flex-wrap: wrap !important;
  }

  ::ng-deep .mat-mdc-tab.mdc-tab {
    flex-grow: 0 !important;
    padding: 0 !important;
  }
}
