:host {
  display: block;
}

.aspect-square{
  width: 300px; 
  height: 300px;
}

::placeholder {
  color: black;
  font-weight: 600;
}

.relative {
  position: relative;
}

input {
  padding-right: 2.5rem;
}

svg {
  position: absolute;
  right: 0.75rem; 
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}