
<manu-header-main  ></manu-header-main>


  <manu-presentacion-header></manu-presentacion-header>

  <manu-novelty></manu-novelty> 
  <manu-urban-gym  ></manu-urban-gym>
<!--   -->
<!--    -->
<!--   <manu-news  ></manu-news>
  <manu-instagram-images  ></manu-instagram-images> -->
<!--   @defer(){
    <manu-urban-gym [@fadeInOut] ></manu-urban-gym>
  }
  @defer(){
    <manu-news  ></manu-news>
  }
  @defer(){
    <manu-instagram-images [@fadeInOut] ></manu-instagram-images>
  }
 -->
<!--   <manu-news></manu-news> -->
<!--   <manu-instagram-images></manu-instagram-images> -->
<!-- }@placeholder {
  <div class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-gray-800 bg-opacity-20 z-50">
    <div class="flex items-center justify-center">
      <div class="relative flex items-center justify-center">
        <div class="w-16 h-16 border-4 border-primary border-dashed rounded-full animate-spin"></div>
        <div class="absolute inset-0 flex items-center justify-center">
          <div class="w-10 h-10 bg-primary rounded-full"></div>
        </div>
      </div>
    </div>
  </div>
} -->


<!--  -->