<div class="cuadricula">
  @for (item of subcatProducts; track item) {
  <div (click)="detail(item)">
    <div class="card relative">
      <img appImgError [src]="url+item?.image?.ruta" alt="" />
      @if (item.novedad === '1') {
        <div class="absolute tag-nuevo tag-normal">
          {{ "nuevo" | uppercase }}
        </div>
      }
      @if (getOfertaTexto(item)) {
        <div class="absolute tag-oferta tag">
          {{ getOfertaTexto(item) }}
        </div>
        <div class="absolute tag-final tag"></div>
      }
    </div>
    <div class="mt-4 text-center" style="width: 256px;">
      <strong><label class="text-center" style="width: 256px">{{
          item.referencia
          }}</label></strong>
      <br />
      <strong>
        <label class="text-center" style="width: 256px">{{ getNombre(item) }}</label>
      </strong>
    </div>
  </div>
  }@empty {
  <div class="text-center py-4 text-2xl font-semibold mt-4">
    <h3>{{"no articulos"}}</h3>
    <br>
    <h4>{{"no articulos.txt"}}</h4>
  </div>
  }
</div>